{% extends 'main_app/base.html' %}

{% block head %}
  <script type="text/javascript">
    timer = null
    search = null
    url = null
    function get_data(){
        table = document.getElementById("container")
        table.innerHTML = "";
        search=document.getElementById("city").value;
        console.log(search)

        if(timer){
          clearTimeout(timer);
        }
        timer=setTimeout(send_data,1000)
    }
    function send_data(){
      xhr = new XMLHttpRequest()
      url="http://localhost:8000/get_cities?city="+search;
      xhr.onreadystatechange=show_result;
      xhr.open("GET",url,true);
      xhr.send();
    }
    function show_result(){
      if(this.readyState == 4 && this.status == 200){
        cities = JSON.parse(this.response)
        console.log(typeof(cities))
        table = document.getElementById("container");
        for(city of cities){
          var new_div = document.createElement("div");
          new_div.innerHTML = city;
          table.appendChild(new_div);
        }
        table.style.display = "block";
      }
    }

  </script>
{% endblock %}
{% block body %}
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
          <div class="panel-body">

            <h3>Search for your perfect vacation :D</h3>

            <form class="form-horizontal" action="{% url 'main_app:SearchPage' %}" 
            method="post" enctype="multipart/form-data">
              {% csrf_token %}
              
              <div class="form-group">
                <label class="control-label col-sm-3">Check In Date</label>
                <input col-sm-offset-2 type="date" name="check-in-date">
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Check Out Date</label>
                <input type="date" name="check-out-date">
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Guests</label>
                <select id="guests" name = "guests"> 
                  <option value = "1"> 1 </option>
                  <option value = "2"> 2 </option>
                  <option value = "3"> 3 </option>
                  <option value = "4"> 4 </option>
                </select>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">City</label>
                <table border="0" cellpadding="0">
                  <tr>
                    <td>
                      <!-- dont remove -->
                    </td>
                    <td>
                      <input type="text" name="city" id = "city" onkeyup="get_data()">
                    </td>
                  </tr>
                  
                  <tr>
                    <td>
                      
                    </td>
                    <td>
                      <div id="container"></div>
                    </td>  
                  </tr>
                </table>
              </div>


              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                  <button type="submit" class="btn btn-success" name="search-submit">
                  Search Hotels</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}



    

