
<title>Home</title>
{% block body %}
  <div class="form-div">
    <form action="{% url 'main_app:SearchPage' %}" method='POST' 
          id='search-form'> {% csrf_token %}
      <fieldset>
        <p>Check In date <input type="date" name="check-in-date"></p>
        <p>Check Out date <input type="date" name="check-out-date"></p>
        <p>Guests
          <select id="guests" name = "guests"> 
            <option value = "1"> 1 </option>
            <option value = "2"> 2 </option>
            <option value = "3"> 3 </option>
            <option value = "4"> 4 </option>
          </select>
        </p>
        <p> City <input type="text" name="city"> </p>
        <input type="submit" name="search-submit" value="Search Hotels">
      </fieldset>
    </form>
    <fieldset>
    <form id="login-form" method="POST"> {% csrf_token %}
      Already a member?
      <p>Username <input type="text" name="username"></p>
      <p>Password <input type="password" name="password"></p>
      <p><input type="submit" name="login-submit" value = "Login"> </p>
    </form>
    </fieldset>
  </div>

{% endblock %}