{% extends 'main_app/base.html' %}
{% load static %}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Choose Hotels</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
  <script>
	$(function () {
	  $("#check-in").datetimepicker();
	  $("#check-out").datetimepicker();
	});
  </script>

{% endblock %}

{% block body %}
	<div class="container">
	  <form id="form" action="{% url 'main_app:PaymentPage' %}" method="post" enctype="multipart/form-data">
		  {% csrf_token %}

		  <div class="row">
		  	<div class="col-sm-3">
		      <img src="{% static 'main_app/images/' %}{{ hotel.image_url }}" height="200" width="250">
		    </div>

		  	<div class="col-sm-3">
		      <h2>Hotel Name</h2>
		      <h3>{{ hotel.name }}</h3>
		    </div>

		  	<div class="col-sm-3">
		      <h2>Check In Date</h2>
		      <input id="check-in" type="text" value="{{ request.session.check_in }}">
		    </div>

		    <div class="col-sm-3">
		      <h2>Check Out Date</h2>
		      <input id="check-out" type="text" value="{{ request.session.check_out }}">
		    </div>
		  </div>

		  <div class="row">
		      <input id="check-out" type="submit" value="Book Hotel" style="margin-top:20%; margin-left:45%">
		  </div>
	</form>
	</div>
{% endblock %}